
@font-face {
    font-family: Neue Haas Grotesk Display Pro;
    src: url(./assets/NeueHaasDisplayRoman.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Neue Montreal;
    src: url(./assets/NeueMontreal-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: Neue Montreal;
    src: url(./assets/NeueMontreal-Regular.otf);
    font-weight: 400;
}

/* @media screen and (max-width: 768px) {
  
   
  } */
  
  


#contentWrapper {
    display: block;
    position: relative;
    padding: 4em;
}

.thoughtWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    height: auto;
}

input {
    padding: 16px;
    background-color: blue;
    color: #0aa588;
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 1.5em;

}

#thought {
    display: flex;
    flex-direction: column;
    border: dotted 3px rgb(8, 202, 89);
    background-color: none;
    width: 10em;
    height: 5em;

}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #84abfd;
    /* background: url(./assets/bg.JPG); */
    background-position: center center;
    background-size: cover;
  }
.weatherHome {
    padding: 4em;
    padding-top: 6em;
    background: linear-gradient(-45deg, #f9a467, #925aec, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	height: 100vh;
}

button {
    box-shadow: 2px 2px 1.5px 1px rgba(236, 236, 236, 0.55) inset;
    background-color: #0aa588;
    width: 2em;
    height: 2em;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    
}

h1 {
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 8em;
    color: black;
}
h3 {
    font-family: Neue Haas Grotesk Display Pro;
    font-size: 4em;
    color: black;
}
#nav {
    display: none;
    gap: 8px;
    width: 12em;
    height: auto;
    position: sticky;
    padding: 1em;
    top: 0px;
    left: 5em;
    border: dotted 2px grey;
    background-color:rgba(201, 76, 76, 0.3);
    backdrop-filter: blur(10px);
    z-index: 99;
}

.title {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 400;
    font-size: 10em;
    color: rgb(5, 63, 255);
    filter: drop-shadow(0px 4px 12.5px #4680F7);
    mix-blend-mode: hard-light;

}

h3, h4, h5 {
    font-family: Neue Montreal;
    font-weight: 500;
}

.sun {
    background: rgb(246,255,112);
    background: linear-gradient(180deg, rgba(246,255,112,1) 0%, rgba(255,255,255,1) 50%, rgba(219,219,219,1) 100%);
    color: black;
  
  }
  
  .rain {
    background: rgb(0,39,182);
    background: linear-gradient(180deg, rgba(0,39,182,1) 0%, rgba(0,0,0,1) 50%, rgba(89,89,89,1) 100%);
    color: white;
  }

.emojiBox {
    font-size: 8em;
    width: 10em;
    height: 10em;
    z-index: 2; 
    transition: all ease-in-out 500ms;
}

.emojiBox:hover {
    font-size: 10em;
    width: 12em;
    height: 12em;
   filter: drop-shadow (0px 4px 28.1px 4px rgba(0, 0, 0, 0.40));
}

.emojiWrapper {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

a {
    color: rgb(6, 88, 73);
    text-decoration: none;
    transition: all ease-in-out 300ms ;
}

a:hover {
    background-color: blue;
   color: rgb(171, 165, 255);
   filter: blur(1px);
    letter-spacing: 1.2px;
    text-decoration: dotted;
}

img {
    border-radius: 1em;
    width: 100%;
    height: auto;
    image-rendering: pixelated;

}

.mono {
    font-family: monospace;
    font-weight: 400;
    font-size: 1em;
    display: inline;
}

.p {
    font-family: Neue Montreal;
    font-weight: 400;
    font-size: 1em;
    display: inline;
}


h2 {
    font-family: monospace;
    font-size: 3em;
}

.accent {
    max-height: 15em;
    color: rgb(4, 144, 88);
    position: fixed;
    bottom: 0px;
    right: 0px;
    opacity: .2;
    z-index: -9;
    mix-blend-mode: hard-light;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    flex-direction: column;

}

.row {
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
}

.headWrapper {
    position: fixed;
    top: 1em;
    left: 1em;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0em 2em;
    mix-blend-mode: hard-light;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}


.headText {
    display: inline;
    width: auto;
    font-family: Neue Montreal;
    font-weight: 500;
    font-size: 2em;
    color: rgb(5, 63, 255);
    filter: drop-shadow(0px 4px 12.5px #3377ff);
   

}

#weather {
    color: yellowgreen;
    text-decoration: dotted;
}

.preview {
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    z-index: 2;
}

.preview-img {
    width: 100%;
    height: 100%;
    background: url(./assets/butterfly.png);
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
}

.about-item {
    border: 1 px dotted blanchedalmond;
}

.title-text {
    font-family: Neue Montreal;
    font-weight: 500;
    font-size: 2em;
}

.verticalWrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    width: auto;
}

.spaces {
    background-image: url(./assets/spaces.svg);
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#yvr {
    font-family: Neue Montreal;
    font-size: 8em;
    font-weight: 500;
}

#etc {
    font-family: Neue Haas Grotesk Display Pro;
    font-weight: 400;
    font-size: 5em;
    line-height: 1em;
    text-align: end;
}

.dot {
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    width: 1em;
    height: 1em;
    color: black 0;
    border-radius: 100%;
}


.dot:hover {
    background-color:rgb(47, 255, 137);
    border-style: dotted;
    color: black;
}

/*
.guide-item {
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1fr;
    border-collapse: collapse;
    border: 1px solid black;

}
*/

table {
    width: 100%;
    margin-top: 2em;
    padding-left: 1em;
 
}


#guide-items  {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
    font-family: Neue Haas Grotesk Display Pro;
    
}

#guide-items th {
    font-size: 1em;
    padding: 12px;
    border: none;
    background-color: none;

}

#guide-items tr {
    transition: all ease-in-out 300ms;
}


#guide-items  td{
    font-size: 1em;
    border: 1px solid black;
    padding: 20px;
    text-align: left;
}

#guide-items tr:hover {
    background-color: aliceblue;
    border-style: dotted;
  
}

.switch {
    position: absolute;
    display: inline-block;
    margin: 4em;
    right: 1em;
    width: 60px;
    height: 34px;
    z-index: 2;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0036ab;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

.border-pill {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px black;
    border-style: solid;
    border-radius: 8em;
    padding: .2em 1.25em;
    vertical-align: baseline;
}

.yvr-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-top: -1.5em;
}

.wrapper {
    width: 96vw;
    margin: 0 auto;
}

canvas {
    position: fixed !important;
    mix-blend-mode: overlay;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1; 
   
  }
/* Without the dot, it would be interpreted as an element selector. For example, div as a selector targets all div elements, while .example targets all elements with the class "example."*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 480px) {

    .weatherHome {
        padding-left: 2em;
        padding-top: 4em;
    }
    
    h1 {
        font-size: 4em !important;
        max-width: 100%;
    }
}